.container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .actions {
        display: flex;
        flex-direction: column;
    }

    .bottom-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            font-size: 10px;
	        padding-left: 3px;
	        padding-right: 3px;
        }
    }
}
